.js__fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js__materialsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-left: 20px;
}

.js__percentContainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include for-mobile {
    margin: 10px;
    max-width: 200px;
  }
}

.js__numbers {
  font-size: 35px;
  margin: 10px;
  margin-bottom: 0px;
  transition: all 0.2s ease-in-out;
}

.js__numbers:hover {
  transform: scale(1.1);
}

.js__material {
  margin: 0px;
  position: relative;
  @include for-mobile {
    font-size: 13px;
  }
}
.js__material::before {
  margin-top: 5px;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-primary;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.js__material:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.js__textSection {
  font-size: 12px;
  margin-top: 50px;
  @include for-mobile {
    margin-top: 20px;
  }
}

.js__textContentMobile {
  margin: 15px;
  font-size: 25.5vw;
}

.js__none {
  display: none;
}
//SLIDEDOWN

.js__slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
